@charset "UTF-8";
* {
  position: relative;
}
.navbar-brand {
  font-family: "Lato", sans-serif;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Be Vietnam', sans-serif;
}
.header {
  height: 300px;
  background-color: #27232f;
}
.header .icon {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.maxwidth {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  font-family: "Fjalla One", sans-serif;
  padding: 50px;
}
.content h5 {
  margin-top: 10px;
}
.content h1 {
  font-size: 40px;
}
.content h1.small_english {
  font-size: 24px;
}
.content h2 {
  font-size: 30px;
}
.content h2.small_english {
  font-size: 16px;
}
.content h3 {
  font-size: 20px;
}
.content h3.small_english {
  font-size: 12px;
}
.content .titlehr {
  width: 100px;
  border-bottom: solid 5px;
}
.content .small_english {
  letter-spacing: 1px;
  margin-top: -15px;
}
.content .button {
  padding: 5px 25px;
  display: inline-block;
  border: solid 1px #333;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}
.content .button_blue {
  background-color: #27232f;
  color: #f3f7f7;
  font-weight: 500;
}
.content .button_yellow {
  background-color: #ffb336;
  color: #27232f;
}
.content .colorchip {
  display: inline-block;
  margin-right: 30px;
}
.content .color_tag,
.content .color_block {
  display: inline-block;
  vertical-align: middle;
}
.content .color_tag {
  width: 60px;
}
.content .color_block {
  border: solid 2px;
  width: 30px;
  height: 30px;
}
.content .color_block_yellow {
  background-color: #ffb336;
}
.content .color_block_blue {
  background-color: #27232f;
}
.content .color_block_white {
  background-color: #f3f7f7;
}
.content .color_block_grey {
  background-color: #333;
}
.content_grey {
  background-color: #333;
  color: #f3f7f7;
}
.content_grey .small_english {
  color: #ffb336;
}
.content_grey .titlehr {
  border-color: #ffb336;
}
.content_grey h1,
.content_grey h2,
.content_grey h3 {
  font-weight: 500;
}
.content_grey .button {
  border-color: #f3f7f7;
  font-weight: 500;
}
.content_grey .button_yellow {
  font-weight: bold;
}
.content_white {
  background-color: #f3f7f7;
  color: #27232f;
}
.content_white .small_english {
  color: #27232f;
}
.content_white .titlehr {
  border-color: #ffb336;
}
.content_white .button {
  border-color: #27232f;
}
.content_blue {
  background-color: #27232f;
  color: #f3f7f7;
}
.content_blue .small_english {
  color: #ffb336;
}
.content_blue .titlehr {
  border-color: #ffb336;
}
.content_blue h1,
.content_blue h2,
.content_blue h3 {
  font-weight: 500;
}
.content_blue .button {
  border-color: #f3f7f7;
  font-weight: 500;
}
.content_blue .button_yellow {
  font-weight: bold;
}
/* parallax scrolling */
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}
.bgimg-1 {
  background-image: url("images/homeimg1.jpg");
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 6%;
}
.bgimg-2 {
  background-image: url("https://www.killingthyme.net/wp-content/uploads/2015/10/Easy-Homemade-Ramen.jpg");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("https://www.godubrovnik.com/wp-content/uploads/pizza.jpg");
  min-height: 400px;
}
.caption {
  text-align: center;
  color: #000;
  align-self: center;
}
.caption p.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 10px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  margin-bottom: 25px;
}

.caption {
  transition: transform 0.2s;
}

.caption:hover {
  transform: scale(1.15);
}

p {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

h2 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 20px;
  width: 100%;
  margin: 20px auto;

}

#section1 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 30px 80px;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  
}
#intro-div{
  display: flex;
  justify-content:space-around;
}

#history-container {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
}



#history-content {
  font-size: 16px;
  text-align: left;
}

.sliding {
  opacity: 0;
  transform: translateX(-50%);
  transition-duration: 1s;
}

.showing {
  opacity: 1;
  transform: translateX(0%);
}

#history {
  width: 80%; 
  margin:0 auto;
}

#section2 {
  padding: 20px 80px;
  color:#ddd;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 768px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }

  #history-container {
    margin: 0px;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
  }

  .caption p.border {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }


  #section1 h3 {
    font-size: 15px;
    padding-bottom: 10px;
  }

  #section1 p {
    font-size: 12px;
    padding: 2px;
    margin: 10px;
  }

  #section2 {
    padding: 30px;
    margin: 10px;
  }

}