
.pacman{
  display: inline-grid;
  margin: 0;
}

.pacman-top{
  background-color:red;
  height:25px;
  width:50px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:red;
  height:25px;
  width:50px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}


/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

#navbarDropdown {
  font-size: 23px;
}

.dropdown-item {
  font-size: 16px;
}
