body,
html {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: 'Be Vietnam', sans-serif; 
}

* {
  /* border: 1px solid black */
}

body {
  margin-top: 100px;
  display: flex;
}

body .container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}
.past-header:hover{
  transform: scale(1.1);
  font-weight: 600;
}
#order-history{
  box-shadow: 2px 1px 8px #888888;
  border-radius: 4%;
  background-color: white;
  
}
#order-history:hover{
  transform: scale(1.02);
}
.container h4 {
  text-align: center;
}

.order {
  width: 25%;
}

.orderHold {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 10px;
}

.itemTable {
  margin-bottom: 20px;
  width: 100%;
}

.items {
  text-align: left;
  padding-left: 30%;
}

.quants {
  padding-right: 30%;
}

.food-list {
  width: 200px;
  text-align: center;
  border: none;
  box-shadow: 2px 1px 8px #888888;
}

.order-info {
  display: none;
  justify-content: flex-start;
  width: 100%;
}
.fa-history{
  color: yellowgreen;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container h4 {
    width: 100%;
  }
  .orderHold {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    margin-top: 5px;
  }
  .order {
    width: 100%;
    padding-top: 3px;
  }
}