<div class="navbar-fixed">
    <nav class="light-blue lighten-3">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">The Best Restaurant</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#search">Search</a>
            </li>
            <li>
              <a href="#menu">Menu</a>
            </li>
            <li>
              <a href="#order">Order Now</a>
            </li>
          </ul>
        </div>
      </div>
