<header>
  <nav
    class="navbar navbar-expand-md navbar-dark"
    style="background-color: #e3f2fd; border-bottom: 2px solid black"
  >
    <a class="navbar-brand" style="color:black; font-size: 45px" href="/"
      >Ye Old Hags</a
    >

    <% if(user_id) { %>
    <span style="color: black">Logged In As: <%= user_name%> </span>
    <a
      href="/logout"
      class="btn btn-info border"
      style="vertical-align: middle"
      role="button"
    >
      Log-Out
    </a>

    <% } else { %>

    <a
      href="/login"
      class="btn btn-info border"
      style="vertical-align: middle"
      role="button"
    >
      Log-In
    </a>
    <a
      href="/register"
      class="btn btn-info border"
      style="vertical-align: middle"
      role="button"
    >
      Register
    </a>
    <% } %>
  </nav>
</header>
