<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger " href="/">
        <div class="pacman animated duration-2s slideInLeft">
          <div class="pacman-top"></div>
          <div class="pacman-bottom"></div>
        </div><img src="/images/logo2.png" height="56.7" width="auto"><img class="animated duration-3s fadeInDown"
          src="/images/logo3.png" height="49.7" width="auto">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if(user_id) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <%= user_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if(user_isowner) { %>

              <a class="dropdown-item" href="/restaurantpage">Orders</a>
              <% } else { %>
              <a class="dropdown-item" href="/userorderstatus">Orders</a>
              <a class="dropdown-item" href="/restaurantlist">Restaurants</a>
              <% } %>
              <a class="dropdown-item" href="/logout">Logout</a>
              <% } else { %>

              <a class="dropdown-item" style="color: gray; font-size: 21px;" href="/register">Register</a>
              <a class="dropdown-item" style="color: gray; font-size: 21px;" href="/login">Login</a>

              <% } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>