<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- External JS -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/css/homePage.css" type="text/css" />
    <link rel="stylesheet" href="/css/otherHeader.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
  </head>

  <body>
    <% include partials/_otherHeader %>

    <div class="bgimg-1">
      <div class="caption">
        <% if(user_id) { %> <% if(user_isowner) { %>
        <a style="text-decoration:none" href="/restaurantpage">
          <p class="border started testing">Let's get started</p>
        </a>
        <% } else { %>
        <a style="text-decoration:none" href="/restaurantlist">
          <p class="border started testing">Let's get started</p>
        </a>
        <% } %> <% } else { %>
        <a style="text-decoration:none" href="/login">
          <p class="border started testing">Let's get started</p>
        </a>
        <% } %>
      </div>
    </div>

    <div
      style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;"
    >
      <h3 style="text-align:center; margin-bottom: 28px;  ">
        Why we do what we do
      </h3>
      <p style="text-align:center; font-size: 20px;">
        <i class="fa fa-history"></i> Save time and skip the line
      </p>
      <p style="text-align:center; font-size: 20px;">
        <i class="fa fa-users"></i> Make friends with foods
      </p>
      <p style="text-align:center; font-size: 20px; ">
        <i class="fa fa-laptop"></i> Smooth online experience
      </p>
    </div>
    <div class="bgimg-2"></div>
    <div style="position:relative;">
      <div
        style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;"
      >
        <div id="slider-effect" class="testing">
          <h2 >
            Our History
          </h2>
          <img style="height: 30px; width: 30px" src="/images/history.png" />
          <div>
            In 1882, Toronto bread salesman Gary Chen, who got his start at the
            age of 12 as a baker's apprentice, went into business for himself
            when he bought a bread route from his employer. Fast forward today
            over 1 company and 65 fake users are a part of our service
          </div>
        </div>
      </div>
    </div>
    <div class="bgimg-3"></div>
    <div style="position:relative;">
      <div
        style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;"
      >
        <h2>Contact Us</h2>
        <div>Phone: 647-666-8888</div>
        <div>Email: munchup@munchup.com</div>
        <div>Address: 662 King St W #101, Toronto, ON, Canada M5V 1M7</div>
      </div>
    </div>
  </body>

  <script src="/scripts/homepage.js" type="text/javascript"></script>
</html>
