<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Food - On - The - Way</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />

    <!-- Bootstrap CSS ARE WE USING BOOTSTRAP OR PURE CSS?-->
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    /> -->

    <!-- App CSS -->
    <link
      rel="stylesheet"
      href="/oldhag/oldhag_Webapp/public/css/homePage.css"
    />

    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="header">
      <img class="icon" src="" alt="" />
    </div>
    <div class="content content_white">
      <div class="maxwidth">
        <h5>style guideline</h5>
        <h1>Large-40px</h1>
        <h1 class="small_english">English style guideline for h1 Title</h1>
        <div class="titlehr"></div>
        <br />
        <h2>Mid 30px</h2>
        <h2 class="small_english">English style guideline for h2 Title</h2>
        <br />
        <h3>Small 20px</h3>
        <h3 class="small_english">English style guideline for h3 Title</h3>
        <br />
        <hr />
        <h5>VI COLORS</h5>
        <div class="colorchip">
          <div class="color_tag">#ffb336</div>
          <div class="color_block color_block_yellow"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#27232F</div>
          <div class="color_block color_block_blue"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#f3f7f7</div>
          <div class="color_block color_block_white"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#333333</div>
          <div class="color_block color_block_grey"></div>
        </div>
        <h5>BUTTON EXAMPLE</h5>
        <div class="button">Button# 1</div>
        <div class="button button_blue">Button# 2</div>
        <div class="button button_yellow">Button# 3</div>
      </div>
    </div>
    <div class="content content_grey">
      <div class="maxwidth">
        <h5>style guideline</h5>
        <h1>Large - 40px</h1>
        <h1 class="small_english">English style guideline for h1 Title</h1>
        <div class="titlehr"></div>
        <br />
        <h2>Mid - 30px</h2>
        <h2 class="small_english">English style guideline for h2 Title</h2>
        <br />
        <h3>Small - 20px</h3>
        <h3 class="small_english">English style guideline for h3 Title</h3>
        <br />
        <hr />
        <h5>VI COLORS</h5>
        <div class="colorchip">
          <div class="color_tag">#ffb336</div>
          <div class="color_block color_block_yellow"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#27232F</div>
          <div class="color_block color_block_blue"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#f3f7f7</div>
          <div class="color_block color_block_white"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#333333</div>
          <div class="color_block color_block_grey"></div>
        </div>
        <h5>BUTTON EXAMPLE</h5>
        <div class="button">Button# 1</div>
        <div class="button button_blue">Button# 2</div>
        <div class="button button_yellow">Button# 3</div>
      </div>
    </div>
    <div class="content content_blue">
      <div class="maxwidth">
        <h5>style guideline</h5>
        <h1>Large - 40px</h1>
        <h1 class="small_english">English style guideline for h1 Title</h1>
        <div class="titlehr"></div>
        <br />
        <h2>Mid - 30px</h2>
        <h2 class="small_english">English style guideline for h2 Title</h2>
        <br />
        <h3>Small -20px</h3>
        <h3 class="small_english">English style guideline for h3 Title</h3>
        <br />
        <hr />
        <h5>VI COLORS</h5>
        <div class="colorchip">
          <div class="color_tag">#ffb336</div>
          <div class="color_block color_block_yellow"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#27232F</div>
          <div class="color_block color_block_blue"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#f3f7f7</div>
          <div class="color_block color_block_white"></div>
        </div>
        <div class="colorchip">
          <div class="color_tag">#333333</div>
          <div class="color_block color_block_grey"></div>
        </div>
        <h5>BUTTON EXAMPLE</h5>
        <div class="button">Button# 1</div>
        <div class="button button_blue">Button# 2</div>
        <div class="button button_yellow">Button# 3</div>
      </div>
    </div>
    <!-- Top nav bar -->
    <!-- <nav>
      <span>Food-On-The-Way</span>
      <span id="write">
        <b>Write</b> a new tweet <br />
        <i class="fas fa-angle-double-down"></i>
      </span>
    </nav>
    <header id="realheader">
      <div>
        <img id="profilepic" src="/images/cat.png" />
      </div>
      <div>
        <h2>Lumi</h2>
      </div>
    </header> -->

    <!-- Main content here -->
    <!-- <main class="container">
      <div class="hide" id="errormsg"></div>
      <section class="new-tweet hide">
        <form action="/tweets" method="POST" id="formSubmit">
          <textarea
            name="text"
            placeholder="Anything in mind that you wanna share?"
            wrap="soft"
          ></textarea>
          <div class="break"></div>
          <input type="submit" value="Tweet" />
          <span class="counter">140</span>
        </form>
      </section>
      <i class="fas fa-angle-double-up invisible" id="scrollUp"></i>
      <section id="tweetContainer"></section>
    </main> -->
    <style>
      @charset "UTF-8";
      * {
        position: relative;
      }

      html,
      body {
        padding: 0px;
        margin: 0px;
      }

      .header {
        height: 300px;
        background-color: #27232f;
      }
      .header .icon {
        width: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .maxwidth {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }

      .content {
        font-family: "Fjalla One", sans-serif, 微軟正黑體;
        padding: 50px;
      }
      .content h5 {
        margin-top: 10px;
      }
      .content h1 {
        font-size: 40px;
      }
      .content h1.small_english {
        font-size: 24px;
      }
      .content h2 {
        font-size: 30px;
      }
      .content h2.small_english {
        font-size: 16px;
      }
      .content h3 {
        font-size: 20px;
      }
      .content h3.small_english {
        font-size: 12px;
      }
      .content .titlehr {
        width: 100px;
        border-bottom: solid 5px;
      }
      .content .small_english {
        letter-spacing: 1px;
        margin-top: -15px;
      }
      .content .button {
        padding: 5px 25px;
        display: inline-block;
        border: solid 1px #333;
        margin-right: 10px;
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: bold;
      }
      .content .button_blue {
        background-color: #27232f;
        color: #f3f7f7;
        font-weight: 500;
      }
      .content .button_yellow {
        background-color: #ffb336;
        color: #27232f;
      }
      .content .colorchip {
        display: inline-block;
        margin-right: 30px;
      }
      .content .color_tag,
      .content .color_block {
        display: inline-block;
        vertical-align: middle;
      }
      .content .color_tag {
        width: 60px;
      }
      .content .color_block {
        border: solid 2px;
        width: 30px;
        height: 30px;
      }
      .content .color_block_yellow {
        background-color: #ffb336;
      }
      .content .color_block_blue {
        background-color: #27232f;
      }
      .content .color_block_white {
        background-color: #f3f7f7;
      }
      .content .color_block_grey {
        background-color: #333;
      }

      .content_grey {
        background-color: #333;
        color: #f3f7f7;
      }
      .content_grey .small_english {
        color: #ffb336;
      }
      .content_grey .titlehr {
        border-color: #ffb336;
      }
      .content_grey h1,
      .content_grey h2,
      .content_grey h3 {
        font-weight: 500;
      }
      .content_grey .button {
        border-color: #f3f7f7;
        font-weight: 500;
      }
      .content_grey .button_yellow {
        font-weight: bold;
      }

      .content_white {
        background-color: #f3f7f7;
        color: #27232f;
      }
      .content_white .small_english {
        color: #27232f;
      }
      .content_white .titlehr {
        border-color: #ffb336;
      }
      .content_white .button {
        border-color: #27232f;
      }

      .content_blue {
        background-color: #27232f;
        color: #f3f7f7;
      }
      .content_blue .small_english {
        color: #ffb336;
      }
      .content_blue .titlehr {
        border-color: #ffb336;
      }
      .content_blue h1,
      .content_blue h2,
      .content_blue h3 {
        font-weight: 500;
      }
      .content_blue .button {
        border-color: #f3f7f7;
        font-weight: 500;
      }
      .content_blue .button_yellow {
        font-weight: bold;
      }
    </style>
  </body>
</html>
