<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/homePage.css" type="text/css" />
    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <% include partials/_homeHeader %>

    <div class="bgimg-1">
      <div class="caption">
          <% if(user_id) { %>
            <a href="/restaurantlist">
              <span class="border">Let's get started</span>
            </a>
              <% } else { %>
                <a href="/login">
                  <span class="border">Let's get started</span>
                </a>        
            <% } %>

      </div>
    </div>

    <div
      style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;"
    >
      <h3 style="text-align:center;">Why we do what we do...</h3>
      <p>
        Make friends with food... Social ordering from your favourite local
        restaurants and coffee shops
      </p>
    </div>

    <div class="bgimg-2">
      <div class="caption">
        <span
          class="border"
          style="background-color:transparent;font-size:25px;color: #f7f7f7;"
          >LESS HEIGHT</span
        >
      </div>
    </div>

    <div style="position:relative;">
      <div
        style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;"
      >
        <p>
          Scroll up and down to really get the feeling of how Parallax Scrolling
          works.
        </p>
      </div>
    </div>

    <div class="bgimg-3">
      <div class="caption">
        <span
          class="border"
          style="background-color:transparent;font-size:25px;color: #f7f7f7;"
          >SCROLL UP</span
        >
      </div>
    </div>

    <div style="position:relative;">
      <div
        style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;"
      >
        <p>Contact us:</p>
      </div>
    </div>
  </body>
</html>
