<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />

    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <title>Registration</title>
  </head>

  <body>
    <% include partials/_homeHeader %>

    <section class="register">
      <section class="register">
        <form action="/register" method="POST">
          <h1>Create an Account</h1>
          <h2>Name</h2>
          <input type="text" name="name" placeholder="Enter your name" />
          <h2>Email</h2>
          <input type="email" name="email" placeholder="Email@gmail.com" />
          <h2>Phone Number</h2>
          <input type="tel" name="phone_number" />
          <h2>Password</h2>
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Register</button>
        </form>
      </section>
    </section>
  </body>
</html>
