<!DOCTYPE html>
<html lang="en">
​
<head>
  <!-- Meta Information -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
​
  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
​
  <!-- //material design css -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
​
  <link rel="stylesheet" href="/css/restaurantlist.css" type="text/css" />
  <!-- External JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
​
<body>
  <% include partials/_homeHeader %>
  <div class="bgimg-1">
    <a class="caption" style="text-decoration:none" href="/restaurant1">Soy~Ramentic</a>
  </div>
  <div class="bgimg-2">
    <a class="caption" style="text-decoration:none" href="/restaurant2">Slice, Slice Baby</a>
  </div>
​
</body>
​
</html>