<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- App CSS -->
    <!-- <link rel="stylesheet" href="/css/restaurantMenu.css" type="text/css" /> -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />

    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <title>Soy Ramentic</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="light-blue lighten-3">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Soy~Ramentic 🍜</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="#home">Home</a>
              </li>

              <li>
                <a href="#menu">Menu</a>
              </li>
              <li>
                <a href="#order">Order Now</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <ul class="sidenav" id="mobile-nav">
      <li>
        <a href="#home">Home</a>
      </li>

      <li>
        <a href="#menu">Menu</a>
      </li>
      <li>
        <a href="#order">Order Now</a>
      </li>
    </ul>

    <!-- Section: Slider -->
    <section class="slider">
      <ul class="slides">
        <li>
          <img
            src="https://images.unsplash.com/photo-1540648639573-8c848de23f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1124&q=80"
            alt=""
          />
          <div class="caption center-align">
            <h2>SECTION 1</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              SECTION 1
            </h5>
            <a href="#" class="btn btn-large">Learn More</a>
          </div>
        </li>
        <li>
          <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="" />
          <div class="caption left-align">
            <h2>SECTION 2</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              SECTION 2
            </h5>
            <a href="#" class="btn btn-large">Learn More</a>
          </div>
        </li>
        <li>
          <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="" />
          <div class="caption right-align">
            <h2>SECTION 3</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              SECTION 3
            </h5>
            <a href="#" class="btn btn-large">Learn More</a>
          </div>
        </li>
      </ul>
    </section>

    <!-- Menu Section -->
    <div>
      <main>
        <div class="basket">
          <div class="basket-labels">
            <ul>
              <li class="item item-heading">Item</li>
              <li class="price">Price</li>
              <li class="quantity">Quantity</li>
              <li class="subtotal">Subtotal</li>
            </ul>
          </div>
          <% for (let item of Object.values(items)) { %>
          <div class="basket-product">
            <div class="item">
              <div class="product-details">
                <strong><%= item.name %>: </strong>
                </br>
                <div class='product-details'><%= item.description %></div>
              </div>
            </div>

            <div class="price"><%= item.price /100 %></div>
            <div class="quantity">
              <input type="number" value="0" min="0" class="quantity-field" />
            </div>
            <div class="subtotal">0</div>
              <% } %>
          </div>

        </div>
        <div class='container'>
          <aside>
            <div class="summary">
              <div class="summary-total-items">
                <span class="total-items"></span> Items in your Bag
              </div>
              <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal">
                  0.00
                </div>
                <div class="summary-promo hide">
                  <div class="promo-title">Promotion</div>
                  <div class="promo-value final-value" id="basket-promo"></div>
                </div>
              </div>
              <div class="summary-delivery">
                <select
                  name="delivery-collection"
                  class="summary-delivery-selection"
                >
                  <option value="0" selected="selected"
                    >Select Collection or Delivery</option
                  >
                  <option value="collection">Collection</option>
                  <option value="first-class">Royal Mail 1st Class</option>
                  <option value="second-class">Royal Mail 2nd Class</option>
                  <option value="signed-for"
                    >Royal Mail Special Delivery</option
                  >
                </select>
              </div>
              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">
                  0.00
                </div>
              </div>
              <div class="summary-checkout">
                <button class="checkout-cta">Go to Secure Checkout</button>
              </div>
            </div>
          </aside>
        </div>
      </main>
    </div>
  </body>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    //side bar menu
    const sideNav = $(".sidenav");
    M.Sidenav.init(sideNav, {});
    // Slider
    const slider = document.querySelector(".slider");
    M.Slider.init(slider, {
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });
  </script>

  <!-- quantity add/minus buttons -->
  <script>
    $(".button").on("click", function() {
      let $button = $(this);
      let oldValue = $button
        .parent()
        .find("input")
        .val();

      if ($button.text() == "+") {
        let newVal = parseFloat(oldValue) + 1;
      } else {
        // Don't allow decrementing below zero
        if (oldValue > 0) {
          let newVal = parseFloat(oldValue) - 1;
        } else {
          newVal = 0;
        }
      }
      $button
        .parent()
        .find("input")
        .val(newVal);
    });
  </script>

  <!-- //Menu & checkout basket JavaScript -->
  <script>
    /* Set values + misc */
    // let promoCode;
    // let promoPrice;
    let fadeTime = 300;

    /* Assign actions */
    $(".quantity input").change(function() {
      updateQuantity(this);
    });

    // $(".remove button").click(function() {
    //   removeItem(this);
    // });

    $(document).ready(function() {
      updateSumItems();
    });


    /* Recalculate cart */
    function recalculateCart(onlyTotal) {
      let subtotal = 0;

      /* Sum up row totals */
      $(".basket-product").each(function() {
        subtotal += parseFloat(
          $(this)
            .children(".subtotal")
            .text()
        );
        console.log(this);
      });

      /* Calculate totals */
      let total = subtotal;

      // //If there is a valid promoCode, and subtotal < 10 subtract from total
      // let promoPrice = parseFloat($(".promo-value").text());
      // if (promoPrice) {
      //   if (subtotal >= 10) {
      //     total -= promoPrice;
      //   } else {
      //     alert("Order must be more than £10 for Promo code to apply.");
      //     $(".summary-promo").addClass("hide");
      //   }
      // }

      /*If switch for update only total, update only total display*/
      if (onlyTotal) {
        /* Update total display */
        $(".total-value").fadeOut(fadeTime, function() {
          $("#basket-total").html(total.toFixed(2));
          $(".total-value").fadeIn(fadeTime);
        });
      } else {
        /* Update summary display. */
        $(".final-value").fadeOut(fadeTime, function() {
          $("#basket-subtotal").html(subtotal.toFixed(2));
          $("#basket-total").html(total.toFixed(2));
          if (total == 0) {
            $(".checkout-cta").fadeOut(fadeTime);
          } else {
            $(".checkout-cta").fadeIn(fadeTime);
          }
          $(".final-value").fadeIn(fadeTime);
        });
      }
    }

    /* Update quantity */
    function updateQuantity(quantityInput) {
      /* Calculate line price */
      let productRow = $(quantityInput)
        .parent()
        .parent();
      let price = parseFloat(productRow.children(".price").text());
      let quantity = $(quantityInput).val();
      let linePrice = price * quantity;

      /* Update line price display and recalc cart totals */
      productRow.children(".subtotal").each(function() {
        $(this).fadeOut(fadeTime, function() {
          $(this).text(linePrice.toFixed(2));
          recalculateCart();
          $(this).fadeIn(fadeTime);
        });
      });

      productRow.find(".item-quantity").text(quantity);
      updateSumItems();
    }

    function updateSumItems() {
      let sumItems = 0;
      $(".quantity input").each(function() {
        sumItems += parseInt($(this).val());
      });
      $(".total-items").text(sumItems);
    }

    /* Remove item from cart */
    // function removeItem(removeButton) {
    //   /* Remove row from DOM and recalc cart total */
    //   let productRow = $(removeButton)
    //     .parent()
    //     .parent();
    //   productRow.slideUp(fadeTime, function() {
    //     productRow.remove();
    //     recalculateCart();
    //     updateSumItems();
    //   });
    // }
  </script>
</html>
