<!DOCTYPE html>
<html lang="en">
  ​
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    ​
    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
    ​
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- External JS -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    ​
    <link rel="stylesheet" href="/css/restaurantlist.css" type="text/css" />
  </head>
  ​
  <body>
    <% include partials/_userHeader %>
    <form class="searchbar" method="POST" action="/restaurantlist">
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Search Restaurants"
      />
    </form>
    <div class="bgimg-1">
      <a class="caption" style="text-decoration:none" href="/restaurant1"
        ><p class="caption">
          Soy~Ramentic
        </p></a
      >
    </div>
    <div class="bgimg-2">
      <a class="caption" style="text-decoration:none" href="/restaurant2"
        ><p>
          Slice, Slice Baby
        </p></a
      >
    </div>
    ​
  </body>
</html>
