* {
  position: relative;
}

html, body {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 300px;
  background-color: #27232F;
}
.header .icon {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.maxwidth {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  // font-family: "Fjalla One", sans-serif, 微軟正黑體;
  padding: 50px;
}
.content h5 {
  margin-top: 10px;
}
.content h1 {
  font-size: 40px;
}
.content h1.small_english {
  font-size: 24px;
}
.content h2 {
  font-size: 30px;
}
.content h2.small_english {
  font-size: 16px;
}
.content h3 {
  font-size: 20px;
}
.content h3.small_english {
  font-size: 12px;
}
.content .titlehr {
  width: 100px;
  border-bottom: solid 5px;
}
.content .small_english {
  letter-spacing: 1px;
  margin-top: -15px;
}
.content .button {
  padding: 5px 25px;
  display: inline-block;
  border: solid 1px #333;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}
.content .button_blue {
  background-color: #27232F;
  color: #f3f7f7;
  font-weight: 500;
}
.content .button_yellow {
  background-color: #ffb336;
  color: #27232F;
}
.content .colorchip {
  display: inline-block;
  margin-right: 30px;
}
.content .color_tag, .content .color_block {
  display: inline-block;
  vertical-align: middle;
}
.content .color_tag {
  width: 60px;
}
.content .color_block {
  border: solid 2px;
  width: 30px;
  height: 30px;
}
.content .color_block_yellow {
  background-color: #ffb336;
}
.content .color_block_blue {
  background-color: #27232F;
}
.content .color_block_white {
  background-color: #f3f7f7;
}
.content .color_block_grey {
  background-color: #333;
}

.content_grey {
  background-color: #333;
  color: #f3f7f7;
}
.content_grey .small_english {
  color: #ffb336;
}
.content_grey .titlehr {
  border-color: #ffb336;
}
.content_grey h1, .content_grey h2, .content_grey h3 {
  font-weight: 500;
}
.content_grey .button {
  border-color: #f3f7f7;
  font-weight: 500;
}
.content_grey .button_yellow {
  font-weight: bold;
}

.content_white {
  background-color: #f3f7f7;
  color: #27232F;
}
.content_white .small_english {
  color: #27232F;
}
.content_white .titlehr {
  border-color: #ffb336;
}
.content_white .button {
  border-color: #27232F;
}

.content_blue {
  background-color: #27232F;
  color: #f3f7f7;
}
.content_blue .small_english {
  color: #ffb336;
}
.content_blue .titlehr {
  border-color: #ffb336;
}
.content_blue h1, .content_blue h2, .content_blue h3 {
  font-weight: 500;
}
.content_blue .button {
  border-color: #f3f7f7;
  font-weight: 500;
}
.content_blue .button_yellow {
  font-weight: bold;
}
